<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Environment</title>
    <style>
        body{
           margin: 0;
           padding: 0;
           height:100vh;
        }
        .scan{
            width:200px;
            height:200px;
            position: relative;
            top:30%;
            left:45%;
            border:2px solid red;
            background:url('/static/scan2.png');
            background-size:200px 200px;
            background-repeat:no-repeat;
        }
    </style>
</head>
<body>
    <div class="scan">
        {% comment %} <img src="/static/scan2.png" id="boxer"> {% endcomment %}
    </div>
   
</body>
</html>